* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Breeze";
    src: url(../assets/fonts/Bree_Serif.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: "saty";
    src: url(../assets/fonts/Satisfy-Regular.ttf);
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";        
}

/* HEADER */
header {
    grid-area: header;
}

.title-container {
    text-align: center;
}

.title {
    background-image: url("../assets/imagenes/fondoheader1.webp");
    text-indent: -9999px;
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* MAIN */
main {
    background-color: black;
    grid-area: main;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 iframe {
    width: 80%;
    height: 19em;
    border-radius: 25px;
    border: solid 0.2rem rgb(228, 225, 225);
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item2 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 90%;
}

.item2 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item3 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 80%;
}

.item3 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item4 img {
    width: 31em;
    height: 21em;
    border-radius: 30px;
    border: solid 0.2rem rgb(228, 225, 225);
}


/* FOOTER */
footer {
    grid-area: footer;
    background-color: #ECC704;
}

.container_footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    ;
}

.botonera-footer {
    margin-top: 10px;
}

.botonera-footer li {
    margin: 0 20px 0 0;
}

#navegacion {
    /* ul */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(7, 7, 7);
    width: fit-content;
    padding: 0px;
    margin-left: 20px;
}

#navegacion a {
    font-size: 20px;
}

.follow {
    display: flex;
    align-items: center;
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: px;
}

.social-icons img {
    background-color: white;
    border-radius: 60%;
    margin: 0 20px;
    height: 35px;
    width: 35px;
}

.logo_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo_footer img {
    width: 140px;
    height: 140px;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info p {
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.legal_footer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.legal_footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 13px;
}

li {
    list-style-type: none;
}

a {
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}


/* NOSOTROS */
.container-article2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 40px;
}

.art1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.art1 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 90%;
}

.art1 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.art2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    order: 2;
}

.art2 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 90%;
}

.art2 h2 {
    color: white;
    font-family: saty;
    font-size: 3rem;
    font-weight: 600;
}

.art3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.art3 img {
    border-radius: 30px;
    border: solid 0.2rem rgb(228, 225, 225);
    max-width: 90%;
}

/* MENU */
.container-article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-article3 h2 {
    margin-top: 30px;
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.container-article3 p {
    color: white;
    font-family: lato;
    font-weight: 800;
    text-align: center;
    width: 40%;
}

.container-images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

.hamburguesa_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburguesa_style img {
    border: solid 0.2rem rgb(228, 225, 225);
    width: 320px;
    height: 280px;
    border-radius: 20px;
    margin-top: 20px;
}

.hamburguesa_style img:hover {
    border: double 0.6rem #fdfcfc;
}

.hamburguesa_style p {
    color: white;
    width: 300px;
    text-align: center;
}

/* LOCALES */
.img-sector img {
    /* img Lamparas */
    max-width: 100%;
}

#margins {
    margin-top: 20px;
    margin-bottom: 50px;
}

.title-locales {
    text-align: center;
    margin-top: 50px;
}

.title-locales h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.title-card {
    color: white;
    font-family: Breeze;
    font-weight: 500;
    font-size: 1.4rem;
}

.text-card {
    color: white;
    font-weight: 450;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.maps p {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 30px;
    text-decoration: underline;
}


/* CONTACTO */
.title-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-contacto h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.title-contacto p {
    width: 50%;
    color: white;
    text-align: center;
    font-family: lato;
    font-weight: 800;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton button {
    background-color: white;
    font-family: breeze;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
}

li {
    list-style-type: none;    
}

a {
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}


/* BOOTSTRAP */
#bg_color {
    background-color: #ECC704;
}

.nav-items {
    margin-right: 50px;
}

.links {
    font-family: "breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.links:hover {
    text-decoration: underline;       
}

#logo_nav {
    width: 100px;
    height: 100px;
}



/* ANIMACIONES */

.bienvenidos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 9999;
    animation: desvanecimiento 4s ease-in-out forwards;   
}
  
  .bienvenidos-container img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    animation: achicamiento 6s ease-in-out forwards;
  }  

  @keyframes desvanecimiento {
    0% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
  }  

  @keyframes achicamiento {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
  }
  

/* DESKTOP */
@media screen and (width: 1024px) {

    /* Home */
    .item4 img {
        width: 26em;
        height: 18em;
    }

    /* Menu */
    .hamburguesa_style img {
        max-width: 85%;
        height: 250px;
    }

    .hamburguesa_style p {
        max-width: 80%;
        text-align: center;
        font-size: 14px;
    }


    /* Contacto */
    .title-contacto p {
        width: 70%;
    }
}


/* TABLET */
@media screen and (max-width: 768px) {

    /* Main Home */
    .article-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        order: 1;
    }

    .item1 iframe {
        width: 400px;
        height: 270px;
    }

    .item2 {
        order: 2;
        margin-top: 20px;
    }

    .item3 {
        order: 4;
        margin-top: 20px;
    }

    .item4 {
        order: 3;
        margin-top: 20px;
    }

    .item4 img {
        max-width: 85%;
        height: auto;
    }

    /* Footer Home */
    .logo_footer {
        display: none;
    }

    .info_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .legal_footer p {
        text-align: center;
    }

    /* Nosotros Main */
    .container-article2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .art1 {
        order: 1;
    }

    .art2 {
        order: 3;
    }

    .art3 {
        order: 2;
        margin-top: 40px;
        max-width: 85%;
        height: auto;
    }

    /* Menu */
    .container-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    .container-article3 p {
        width: 80%;
    }

    /* Locales*/
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 50px;
    }

    .maps {
        display: flex;
        flex-direction: column;
    }

    .maps p {
        order: 1;
        margin-left: -10px;
    }

    .maps iframe {
        max-width: 90%;
        order: 2;
    }

    /* Contacto */
    .title-contacto p {
        width: 70%;
    }
}

/* MOBILE*/
@media (min-width: 0px) and (max-width: 576px) {

    /*logo del nav */
    .logo-mobile-hide {
        display: none;
    }

    /*listado de botón toggler */
    .navbar-nav {
        align-items: flex-start !important;
        margin: 10px;
    }

    /*font li */
    .links {
        font-size: 1.1rem;
    }

    /* Home */
    .item2 h2,
    .item3 h2 {
        font-size: 1.8rem;
    }

    .item2 p,
    .item3 p {
        font-size: 13px;
        max-width: 80%;
    }

    .item1 iframe {
        width: 370px;
        height: 250px;
    }

    .item4 img {
        max-width: 80%;
        height: auto;
    }

    /* FOOTER */
    .container_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .botonera-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonera-footer li {
        margin: 0 5px;
    }

    #navegacion {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .follow {
        display: none;
    }

    .social-icons {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .social-icons img {
        margin: 0 20px;
        height: 35px;
        width: 35px;
    }

    .logo_footer {
        display: none;
    }

    .info p {
        font-size: 10px;
    }

    .legal_footer p {
        text-align: center;
        font-size: 8px;
    }

    a {
        font-size: 1rem;
    }

    /*Nosotros*/
    .art1 p,
    .art2 p {
        font-size: 13px;
        max-width: 80%;
    }

    .art1 h2,
    .art2 h2 {
        font-size: 1.8rem;
    }

    /* Menu */
    .hamburguesa_style img {
        max-width: 85%;
        height: 250px;
    }

    .hamburguesa_style p {
        max-width: 80%;
        text-align: center;
        font-size: 12px;
    }

    .container-article3 p {
        font-size: 13px;
        width: 80%;
    }

    .container-article3 h2 {
        font-size: 1.8rem;
    }

    /* Locales*/
    .card {
        margin-bottom: 50px;
        max-width: 75%;
    }

    .card h5 {
        font-size: 1.1rem;
        text-align: center;
    }

    .card p {
        font-size: 13px;
        text-align: center;
    }

    #margins {
        margin: 0;
    }

    .maps p {
        font-size: 1.3rem;
        max-width: 75%;
        order: 1;
    }

    .maps iframe {
        max-width: 75%;
        order: 2;
    }

    .title-locales h2 {
        font-size: 1.8rem;
    }

    /* Contacto */
    .title-contacto h2 {
        font-size: 1.8rem;
    }

    .title-contacto p {
        font-size: 13px;
        width: 80%;
    }
}