* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Breeze";
    src: url(../assets/fonts/Bree_Serif.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: "saty";
    src: url(../assets/fonts/Satisfy-Regular.ttf);
}

body {
    background-color: black;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* HEADER */
header {
    grid-area: header;
}

.title-container {
    text-align: center;
}

.title {
    background-image: url("../assets/imagenes/fondoheader1.jpg");
    text-indent: -9999px;
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* MAIN */
main {
    background-color: black;
    grid-area: main;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 70px;
    gap: 20px
}

.item1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 iframe {
    width: 80%;
    height: 19em;
    border-radius: 25px;
    border: solid 0.2rem rgb(228, 225, 225);
}

.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item2 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 90%;
}

.item2 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item3 p {
    text-align: center;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 80%;
}

.item3 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item4 img {
    width: 31em;
    height: 21em;
    border-radius: 30px;
    border: solid 0.2rem rgb(228, 225, 225);
}


/* FOOTER */
footer {    
    grid-area: footer;  
}

.container_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ECC704;
}

.botonera-footer {    
    margin-top: 10px;
    width: fit-content;
}

.botonera-footer li {
    margin: 0 20px;
}

#navegacion {
    /* ul */    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(7, 7, 7);
    padding: 0;
    width: fit-content;
}

.follow {
    display: flex;
    align-items: center;
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.social-icons {  
    /* background-color: orange; */  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;      
}

.social-icons img {    
    height: 35px;
    width: 35px;
}

.logo_footer {    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo_footer img {
    width: 140px;
    height: 140px;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.info p {
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.legal_footer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.legal_footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* NOSOTROS */
.container-article2 {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    margin-bottom: 40px;
    grid-gap: 20px;
}

.art1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.art1 p {
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
    max-width: 600px;
}

.art1 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.art2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.art2 p {
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
    max-width: 600px;
}

.art2 h2 {
    color: white;
    font-family: saty;
    font-size: 3rem;
    font-weight: 600;
}

.art3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art3 img {
    border-radius: 30px;
    border: solid 0.2rem rgb(228, 225, 225);
    width: 600px;
}

/* MENU */
.container-article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-article3 h2 {
    margin-top: 30px;
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.container-article3 p {
    color: white;
    font-family: lato;
    font-weight: 800;
    text-align: center;
    width: 40%;
}

.container-images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 70px;
}

.hamburguesa_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburguesa_style img {
    border: solid 0.2rem rgb(228, 225, 225);
    width: 320px;
    height: 280px;
    border-radius: 20px;
    margin-top: 20px;
}

.hamburguesa_style p {
    color: white;
    width: 300px;
    text-align: center;
}

/* LOCALES */
.img-sector img {
    /* img Lamparas */
    max-width: 100%;
}

#margins {
    margin-top: 50px;
    margin-bottom: 60px;
}

.title-locales {
    text-align: center;
    margin-top: 50px;
}

.title-locales h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.title-card {
    color: white;
    font-family: Breeze;
    font-weight: 500;
    font-size: 1.4rem;
}

.text-card {
    color: white;
    font-weight: 450;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.maps p {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 30px;
    text-decoration: underline;
}


/* CONTACTO */
.title-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-contacto h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.title-contacto p {
    max-width: 100%;
    color: white;
    text-align: center;
    font-family: lato;
    font-weight: 800;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.boton button {
    background-color: white;
    font-family: breeze;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
}

li {
    list-style-type: none;
}

a {
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}


/* BOOTSTRAP */
#bg_color {
    background-color: #ECC704;
}

.nav-items {
    margin-right: 50px;
}

.links {
    font-family: "breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.links:hover {
    text-decoration: underline;
}

#logo_nav {
    width: 100px;
    height: 100px;
}

/*DESKTOP */
@media screen and (max-width: 1024px) {

    /*Home main */
    .item1 iframe {
        width: 470px;
        height: 348px;
    }

    .item4 img {
        width: 450px;
        height: 320px;
    }

    .item2 h2,
    .item3 h2 {
        font-size: 3rem;
    }

    /*Nosotros Main*/
    .art3 img {
        border-radius: 30px;
        border: solid 0.2rem rgb(228, 225, 225);
        max-width: 90%;
    }

    .art1 h2,
    .art2f h2 {
        font-size: 3rem;
    }

    /*Menu Main */
    .hamburguesa_style img {
        width: 80%;
        height: auto;
    }

    .hamburguesa_style p {
        width: 80%;
        height: auto;
    }

    .maps {
        max-width: 100%;
    }

}

@media screen and (max-width: 992px) {

    /*Nosotros main*/
    .container-article2 {
        display: flex;
        flex-direction: column;
    }

    .art1 {
        order: 1;
    }

    .art2 {
        order: 3;
    }

    .art3 {
        order: 2;
        margin-top: 40px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .container_footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .botonera-footer {
        order: 2;
        margin-top: 0;
    }

    .social-icons {
        order: 2;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .follow {
        display: none;
    }

    .container_footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .info_container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_footer {
        display: none;
    }
    
    /* Contacto */
    .title-contacto p {
        width: 80%;
    }
}


/* TABLET */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;        
    }

    /*Home main */
    .article-container {
        margin-bottom: 40px;
    }

    .item2,
    .item3 {
        max-width: 100%;
    }

    .item4 {
        max-width: 95%;
        height: auto;
    }

    .item1 {
        max-width: 95%;
        height: auto;
    }

    .item2 h2,
    .item3 h2 {
        font-size: 2.5rem;
    }

    #margins {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .maps {
        display: flex;
        flex-direction: column-reverse;
    }   
}

/* MOBILE*/
@media (min-width: 0px) and (max-width: 576px) {   
    /*logo del nav */
    .logo-mobile-hide {
        display: none;
    }

    /*listado de botón toggler */
    .navbar-nav {
        align-items: flex-start !important;
        margin: 10px;
    }

    /* MAIN container */
    .article-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        order: 1;
        width: 85%;
        height: auto;
    }

    .item2 {
        order: 2;
        margin-top: 20px;
    }

    .item3 {
        order: 4;
        margin-top: 20px;
    }

    .item4 {
        order: 3;
        margin-top: 20px;
        width: 80%;
        height: auto;
    }

    /*Nosotros main */
    .container-article2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .art1 {
        order: 1;
    }

    .art2 {
        order: 3;
    }

    .art3 {
        order: 2;
        margin-top: 40px;
        max-width: 85%;
    }

    /* Menu titulo */
    .container-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .hamburguesa_style img {
        max-width: 55%;
    }

    .hamburguesa_style p {
        max-width: 50%;
    }


    .container-article3 p {
        font-size: 0.8rem;
        width: 70%;
    }

    .container-article3 h2 {
        font-size: 2rem;
    }

    /* Contacto */
    .title-contacto h2 {
        font-size: 2rem;
    }

    .title-contacto p {
        font-size: 0.8rem;
        width: 70%;
    }
}