* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Breeze";
    src: url(../assets/fonts/Bree_Serif.ttf);
}

@font-face {
    font-family: "lato";
    src: url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: "saty";
    src: url(../assets/fonts/Satisfy-Regular.ttf);
}

body {
    background-color: black;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.title-container {
    text-align: center;
}

.title {
    background-image: url("../assets/imagenes/fondoheader1.jpg");
    text-indent: -9999px;
    background-size: cover;
    background-position: center;
    margin: 0;
}

header {
    grid-area: header;
}

/* MAIN */
main {
    background-color: black;
    grid-area: main;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 iframe {
    border-radius: 30px;
}

.item2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item2 p {
    text-align: start;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
}

.item2 h2 {
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item3 p {
    text-align: start;
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
}

.item3 h2 {
    margin-bottom: 0px;
    font-family: saty;
    color: white;
    font-weight: 600;
    font-size: 3rem;
}

.item4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.item4 img {
    border-radius: 30px;
}


/* FOOTER */
footer {
    background-color: #ECC704;
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: flex-start;
    align-items: center;
}

.botonera-footer {
    margin-top: 20px;
    margin-left: -30px;
}

.botonera-footer li {
    margin: 0 20px;
}

#navegacion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgb(7, 7, 7);

}

.follow {
    display: flex;
    align-items: center;
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.social-icons img {
    margin: 0 20px;
    height: 35px;
    width: 35px;
}

.logo_footer {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    margin-left: auto;
    margin-top: -65px;
}

.logo_footer img {
    width: 130px;
    height: 130px;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-row-start: 2;
    margin-top: -20px;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info p {
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.legal_footer {
    display: flex;
    flex-direction: column;
    margin-top: -13px;
    margin-left: 20px;

}

.legal_footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* NOSOTROS */
.container-article2 {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    margin-bottom: 40px;
    grid-gap: 20px;
}

.art1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.art1 p {
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
    max-width: 600px;
}

.art1 h2 {
    color: white;
    font-family: saty;
    font-size: 3rem;
    font-weight: 500;
}

.art2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.art2 p {
    font-family: lato;
    color: white;
    font-weight: 800;
    width: 85%;
    max-width: 600px;
}

.art2 h2 {
    color: white;
    font-family: saty;
    font-size: 3rem;
    font-weight: 500;
}

.art3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.art3 img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

/* MENU */
.titulo2 h2 {
    display: block;
    color: white;
    font-family: saty;
    font-size: 40px;
    margin-left: 0px;
    margin-top: 70px;
    text-align: center;
}

.texto2 p {
    display: block;
    color: white;
    font-family: lato;
    font-weight: 800;
    margin-left: 470px;
    margin-top: 5px;
    text-align: center;
    width: 400px;
}

.img-hamburguesas img {
    width: 320px;
    height: 280px;
    border-radius: 20px;
    margin-left: 85px;
    margin-top: 40px;
}

.text-hamburguesas p {
    color: white;
    width: 300px;
    text-align: center;
    margin-left: 100px;
    display: inline-block;
}

.img-sector img {
    height: 200px;
    width: 100%;
}

/* LOCALES */
#locales img {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 100px;
}

#texto-local p {
    display: inline-block;
    color: white;
    font-family: lato;
    font-weight: 800;
    margin-left: 110px;
    margin-top: 10px;
    text-align: center;
    width: 320px;
}

.texto-form {
    font-family: lato;
    font-weight: 800;
    color: white;
    text-align: center;
}

fieldset {
    width: 600px;
    height: 460px;
    margin-left: 350px;
    margin-top: 50px;
    border-radius: 10px;
}

#estilo {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.labels label {
    display: block;
    margin-top: 10px;
    color: white;
    left: 25px;
    position: relative;
    top: 30px;
}

input {
    display: block;
    margin-left: 90px;
    width: 70%;
    height: 10px;
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.msg label {
    display: block;
    margin-top: 10px;
    color: white;
    left: 25px;
    position: relative;
    top: 50px;
}

textarea {
    display: block;
    margin-left: 90px;
    width: 70%;
    height: 70px;
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;

}

#boton button {
    background-color: white;
    font-family: breeze;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
    margin-top: 17px;
    margin-left: 260px;

}

li {
    list-style-type: none;
}

a {
    font-family: "Breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}


/* BOOTSTRAP */
#bg_color {
    background-color: #ECC704;
}

.nav-items {
    margin-right: 50px;
}

.links {
    font-family: "breeze";
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.links:hover {
    text-decoration: underline;
}

#logo_nav {
    width: 100px;
    height: 100px;
}

/*ESCRITORIO */
@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .article-container {
        margin-bottom: 60px;
    }

    .item2 h2,
    .item3 h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 992px) {
    footer {
        display: flex;
        justify-content: center;
    }

    .container_footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .botonera-footer {
        order: 2;
        margin-top: 0;
    }

    .social-icons {
        order: 2;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .follow {
        display: none;
    }

    .container_footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .info_container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_footer {
        display: none;
    }
}


/* TABLET */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        height: 100vh;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .article-container {
        margin-bottom: 40px;
    }

    .item2 h2,
    .item3 h2 {
        font-size: 2.5rem;
    }


}

/* MOBILE*/
@media(max-width: 576px){
    body {
        height: 100vh;
        overflow: hidden;
    }

    .logo-mobile-hide {
        display: none;
    }       
   
    .navbar-nav {
        align-items: flex-start!important;
        margin: 10px;
    }  

    .container-article2 {
        display: flex;
        flex-direction: column;
    }

    .art1 {
        order: 2;
    }

    .art2 {
        order: 3;
    }

    .art3 {
        order: 1;
    }

    .container {
        display: none;
    }

    .follow {
        display: none;
    }

    .container_footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .info_container {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_footer {
        display: none;
    }

    .article-container {
        align-items: flex-start;
    }

    .item1,
    .item2,
    .item3,
    .item4 {
        width: 100%;
        margin-top: 10px;
    }

    .container_footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .botonera-footer {
        order: 2;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .social-icons {
        order: 2;
        margin-top: 20px;
    }
}