.title-contacto {
    @include flexbox(column, nowrap, center, center);
    margin-top: 50px;

    h2 {
        @include title-comun;
    }

    p {
        width: 50%;
        @include p-comun;
    }
}

.boton {
    @include flexbox(column, nowrap, center, center);
    margin-top: 20px;

    button {
        background-color: map-get($colores, "blanco");
        font-family: $font-breeze;
        font-size: 18px;
        padding: 5px;
        border-radius: 6px;

        &:hover {
            background-color: map-get($colores, "bordo");
            color: map-get($colores, "blanco");                      
        }
    }
}
