          article {
            
              .article-container {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: 1fr 1fr;                
                  margin-top: 30px;
                  margin-bottom: 50px;
                  
                 

                  .item1 {
                      @include flexbox (column, nowrap, center, center);
                      max-width: 100%;
                     

                      iframe {
                          width: 30em;
                          height: 18em;
                          border-radius: 25px;
                          border: solid 0.2rem map-get($colores, "gris");
                      }
                  }

                  .item2,
                  .item3 {
                      @include flexbox (column, nowrap, center, center);
                      max-width: 100%;

                      p {
                          @include p-comun;
                      }

                      h2 {
                          @include title-comun;
                      }
                  }

                  .item4 {
                      @include flexbox (column, nowrap, center, center);      
                      max-width: 100%;               

                      img {
                          width: 30em;
                          height: 18em;
                          border-radius: 30px;
                          border: solid 0.2rem map-get($colores, "gris");
                      }
                  }
              }
          }