@import "../layout/queries576";
@import "../layout/queries768";
@import "../layout/queries1024";

main {
    article {
        .container-article3 {
            @include flexbox(column, nowrap, center, center);

            h2 {
                margin-top: 30px;
                @include title-comun;

                @include mobile {
                    @include mobile-title;
                }
            }

            p {
                @include p-comun;
                width: 55%;
                margin-bottom: 35px;

                @include mobile {
                    @include mobile-p;
                    margin-bottom: 20px;
                }                
            }
        }
    }

    .container-images {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 70px;
        grid-gap: 20px;

        @include mobile {
            @include flexbox (column, wrap, center, center);
            padding: 0;
        }

        @include tablet {
            @include flexbox (column, wrap, center, center);
            padding: 0;
        }        
        
        .hamburguesa_style {
            @include flexbox(column, nowrap, center, center);


            img {
                border: solid 0.2rem map-get($colores, "blanco");
                width: 320px;
                height: 280px;
                border-radius: 20px;

                &:hover {
                    border: double 0.6rem map-get($colores, "blanco");
                }

                @include mobile {
                    width: 280px;
                    height: 250px;
                } 
                
                @include desktop {
                    width: 280px;
                    height: 250px;
                }
            }

            p {
                @include p-hamburguesa;

                @include mobile {
                    @include mobile-p-hamburguesa;
                }

                @include tablet {
                    width: 50%;
                }
            }
        }
    }
}