.container-article3 {
    @include flexbox(column, nowrap, center,center);     

    h2 {
        margin-top: 30px;
        @include title-comun;
    }

    p {
        @include p-comun;
        width: 40%;
    }
}

.container-images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;

    .hamburguesa_style {
        @include flexbox(column, nowrap, center,center); 
        
        img {
            border: solid 0.2rem map-get($colores, "blanco");
            width: 320px;
            height: 280px;
            border-radius: 20px;
            margin-top: 20px;

            &:hover {
                border: double 0.6rem map-get($colores, "blanco");
            }
        }

        p {
            @include p-hamburguesa;
        }
    }
}