.container-article2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  
    .art1 {
      @include flexbox(column, nowrap, space-evenly,center);      
      margin-top: 40px;
  
      p {
        @include p-comun;
      }
  
      h2 {
       @include title-comun;
      }
    }
  
    .art2 {
      @include flexbox(column, nowrap, space-evenly,center); 
      margin-top: 40px;
      order: 2;
  
      p {
        @include p-comun;
      }
  
      h2 {
        @include title-comun;
      }
    }
  
    .art3 {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      @include flexbox(column, nowrap, center,center);       
  
      img {
        border-radius: 30px;
        border: solid 0.2rem map-get($colores, "blanco");
        max-width: 90%;
      }
    }
  }