@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin p-comun {
    text-align: center;
    font-family: $font-lato;
    color: map-get($colores, "blanco");
    font-weight: 800;
    width: 90%;
}

@mixin title-comun {
    font-family: $font-saty;
    color: map-get($colores, "blanco");
    font-weight: 600;
    font-size: 3rem;
}

@mixin p-hamburguesa {
    color: map-get($colores, "blanco");
    width: 300px;
    text-align: center;
}