/* DESKTOP */
@media screen and (max-width: 1024px) {

    /* Home */
    .item4 img {
        width: 15em;
        height: 13em;
    }

    /* Menu */
    .hamburguesa_style img {
        max-width: 85%;
        height: 250px;
    }

    .hamburguesa_style p {
        max-width: 80%;
        text-align: center;
        font-size: 14px;
    }


    /* Contacto */
    .title-contacto p {
        width: 70%;
    }
}


/* TABLET */
@media screen and (max-width: 768px) {

    /* Main Home */
    .article-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .item1 {
        order: 1;
    }

    .item1 iframe {
        width: 400px;
        height: 270px;
    }

    .item2 {
        order: 2;
        margin-top: 20px;
    }

    .item3 {
        order: 4;
        margin-top: 20px;
    }

    .item4 {
        order: 3;
        margin-top: 20px;
    }

    .item4 img {
        max-width: 85%;
        height: auto;
    }

    /* Footer Home */
    .logo_footer {
        display: none;
    }

    .info_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .legal_footer p {
        text-align: center;
    }

    /* Nosotros Main */
    .container-article2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .art1 {
        order: 1;
    }

    .art2 {
        order: 3;
    }

    .art3 {
        order: 2;
        margin-top: 40px;
        max-width: 85%;
        height: auto;
    }

    /* Menu */
    .container-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    .container-article3 p {
        width: 80%;
    }

    /* Locales*/
    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 50px;
    }

    .maps {
        display: flex;
        flex-direction: column;
    }

    .maps p {
        order: 1;
        margin-left: -10px;
    }

    .maps iframe {
        max-width: 90%;
        order: 2;
    }

    /* Contacto */
    .title-contacto p {
        width: 70%;
    }
}

/* MOBILE*/
@media (min-width: 0px) and (max-width: 576px) {

    /*logo del nav */
    .logo-mobile-hide {
        display: none;
    }

    /*listado de botón toggler */
    .navbar-nav {
        align-items: flex-start !important;
        margin: 10px;
    }

    /*font li */
    .links {
        font-size: 1.1rem;
    }

    /* Home */
    .item2 h2,
    .item3 h2 {
        font-size: 1.8rem;
    }

    .item2 p,
    .item3 p {
        font-size: 13px;
        max-width: 80%;
    }

    .item1 iframe {
        width: 370px;
        height: 250px;
    }

    .item4 img {
        max-width: 80%;
        height: auto;
    }

    /* FOOTER */
    .container_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .botonera-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonera-footer li {
        margin: 0 5px;
    }

    #navegacion {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .follow {
        display: none;
    }

    .social-icons {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .social-icons img {
        margin: 0 20px;
        height: 35px;
        width: 35px;
    }

    .logo_footer {
        display: none;
    }

    .info p {
        font-size: 10px;
    }

    .legal_footer p {
        text-align: center;
        font-size: 8px;
    }

    a {
        font-size: 1rem;
    }

    /*Nosotros*/
    .art1 p,
    .art2 p {
        font-size: 13px;
        max-width: 80%;
    }

    .art1 h2,
    .art2 h2 {
        font-size: 1.8rem;
    }

    /* Menu */
    .hamburguesa_style img {
        max-width: 85%;
        height: 250px;
    }

    .hamburguesa_style p {
        max-width: 80%;
        text-align: center;
        font-size: 12px;
    }

    .container-article3 p {
        font-size: 13px;
        width: 80%;
    }

    .container-article3 h2 {
        font-size: 1.8rem;
    }

    /* Locales*/
    .card {
        margin-bottom: 50px;
        max-width: 75%;
    }

    .card h5 {
        font-size: 1.1rem;
        text-align: center;
    }

    .card p {
        font-size: 13px;
        text-align: center;
    }

    #margins {
        margin: 0;
    }

    .maps p {
        font-size: 1.3rem;
        max-width: 75%;
        order: 1;
    }

    .maps iframe {
        max-width: 75%;
        order: 2;
    }

    .title-locales h2 {
        font-size: 1.8rem;
    }

    /* Contacto */
    .title-contacto h2 {
        font-size: 1.8rem;
    }

    .title-contacto p {
        font-size: 13px;
        width: 80%;
    }
}