@mixin flexbox ($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin p-comun {
    text-align: center;
    font-family: $font-lato;
    color: map-get($colores, "blanco");
    font-weight: 800;
    width: 85%;     
    font-size: 1rem;    
}

@mixin title-comun {
    font-family: $font-saty;
    color: map-get($colores, "blanco");
    font-weight: 600;
    font-size: 3rem;
}

@mixin p-hamburguesa {
    color: map-get($colores, "blanco");
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 0.8 rem;
    margin-top: 6px;
}
 

