@mixin flexbox ($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin p-comun {
    text-align: center;
    font-family: $font-lato;
    color: map-get($colores, "blanco");
    font-weight: 800;
    width: 90%;
}

@mixin title-comun {
    font-family: $font-saty;
    color: map-get($colores, "blanco");
    font-weight: 600;
    font-size: 3rem;
}

@mixin p-hamburguesa {
    color: map-get($colores, "blanco");
    width: 310px;
    height: 100px;
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
}

@mixin grid-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }