@import "../layout/queries576";

footer {
    grid-area: footer;
    background-color: map-get($colores, "mostaza");

    .container_footer {
        display: grid;
        grid-template-columns: auto 1fr auto;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .botonera-footer {
            margin-top: 10px;

            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            li {
                margin: 0 20px 0 0;
                list-style-type: none;
            }

            #navegacion {
                @include flexbox (row, nowrap, flex-start, center);
                border-bottom: 2px solid map-get($colores, "negro");
                width: fit-content;
                padding: 0px;
                margin-left: 20px;

                a {
                    font-size: 20px;
                    font-family: "Breeze";
                    text-decoration: none;
                    color: map-get($colores, "negro");

                    &:hover {
                        color: map-get($colores, "blanco");

                    }

                    @include mobile {
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }

    .follow {
        @include flexbox(column, nowrap, center, center);
        font-family: $font-breeze;
        text-decoration: none;
        color: map-get($colores, "negro");
        font-weight: 500;
        font-size: 1rem;

        @include mobile {
            display: none;
        }

    }

    .social-icons {
        @include flexbox(row, nowrap, flex-start, flex-start);
        margin-top: 10px;

        img {
            background-color: map-get($colores, "blanco");
            border-radius: 60%;
            margin: 0 20px;
            height: 35px;
            width: 35px;
        }
    }
}

.logo_footer {
    @include flexbox(column, nowrap, flex-end, center);

    img {
        width: 140px;
        height: 140px;

        @include mobile {
            display: none;
        }

    }
}

.info_container {
    @include flexbox(column, nowrap, center, flex-start);

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        @include flexbox(row, nowrap, flex-start, center);

        p {
            margin-left: 20px;
            margin-top: 8px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: map-get($colores, "negro");
        }
    }
}

.legal_footer {
    @include flexbox(column, nowrap, center, center);
    margin-left: 20px;

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: map-get($colores, "negro");
        font-size: 13px;

        @include mobile {
            text-align: center;
            font-size: 12px;
        }
    }
}