@import "../layout/queries576";

header {
    grid-area: header;

    .title-container {
        text-align: center;

        .title {
            background-image: url("../assets/imagenes/fondoheader1.webp");
            text-indent: -9999px;
            background-size: cover;
            background-position: center;
            margin: 0;
        }
    }
}

/* Bootstrap scss */
#bg_color {
    background-color: map-get($colores, "mostaza");

    .nav-items {
        margin-right: 20px;
        margin-left: 20px;

        .links {
            font-family: "breeze";
            color: map-get($colores, "negro");
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;

            &:hover,
            &:focus {
                background-size: 100% 2px;
            }

            @include mobile {
                font-size: 1.1rem;
            }

        }
    }
}

#logo_nav {
    width: 100px;
    height: 100px;
}

.logo-mobile-hide {
    @include mobile {
        display: none;        
    }
}

.navbar-nav {
    @include mobile {
    align-items: flex-start !important;
    margin: 10px;    
}
}

